In [11]:
import pandas as pd

In [46]:
df = pd.read_csv('data/DB.csv')
df

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Brazil,72388126,74605447,76865323,79164235,81488595,83817583,86139359,88446124,90741240,...,201675532,203218114,204703445,206107261,207455459,208660842,209550294,210306415,211140729,211998573
1,China,667070000,660330000,665770000,682335000,698355000,715185000,735400000,754550000,774510000,...,1379860000,1387790000,1396215000,1402760000,1407745000,1411100000,1412360000,1412175000,1410710000,1408975000
2,Germany,72814900,73377632,74025784,74714353,75318337,75963695,76600311,76951336,77294314,...,81686611,82348669,82657002,82905782,83092962,83160871,83196078,83177813,83287273,83516593
3,India,435990338,446564729,457283090,468138575,479229598,490140146,500740247,511606372,522716889,...,1328024498,1343944296,1359657400,1374659064,1389030312,1402617695,1414203896,1425423212,1438069596,1450935791
4,Nigeria,45053782,45989310,46965292,47973575,49012016,50086764,51188234,52293065,53432783,...,190671878,195443700,200254579,204938755,209485641,213996181,218529286,223150896,227882945,232679478
5,United States,180671000,183691000,186538000,189242000,191889000,194303000,196560000,198712000,200706000,...,321815121,324353340,326608609,328529577,330226227,331577720,332099760,334017321,336806231,340110988